.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #003cab;
  border: 1px solid grey;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  width: 300px;
  height: 50px;
  padding: 5px;
  margin: 5px;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}
